.primary-button {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border: none;
  background-color: var(--primary-color);
  color: var(--white);
  cursor: pointer;
  padding: .2rem .5rem .4rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.primary-button:hover {
  color: var(--primary-color);
  background-color: var(--white);
}

/* navbar */

.navbar {
  width: 100vw;
  padding: 1rem 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  position: fixed;
  overflow: hidden;
  z-index: 999;
  display: none;
  top: 0;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.navbar ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 75vh;
  padding: 0;
  margin: 0;
}

.navbar a {
  color: var(--white);

}

.navbar ul li {
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.navbar ul li:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

.navbar button {
  color: var(--white);
  background-color: transparent;
  padding: .1rem .3rem .4rem;
  vertical-align: middle;
  border: 1px solid var(--white);
  cursor: pointer;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.navbar button:hover {
  color: var(--primary-color);
  background-color: var(--white);
}

.menu-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 999;
  fill: var(--primary-color);
}

.navbar .menu-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2rem;
  color: var(--font-color);
}

.navbar:target {
  display: block;
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-color);
}

.navbar:target .menu-close {
  z-index: 1001;
}

.navbar:target+.backdrop {
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: rgba(0, 0, 0, .85);
  cursor: default;
}

@media(min-width: 768px) {
  .navbar {
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    display: flex;
    padding: .3rem 1rem;
  }

  .navbar ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0;
    height: 100%;
  }

  .menu-close {
    display: none;
  }

  .menu-toggle {
    display: none;
  }
}

/* footer */

footer {
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
  overflow: auto;
}

footer .container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 1rem 0;
  overflow: auto;
  gap: 1rem;
}

footer .socials img {
  width: 50px;
  height: 50px;
  margin-right: .5rem;
}

footer .socials img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

footer small {
  cursor: pointer;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

footer small:hover {
  color: var(--white);
}

@media(min-width: 768px) {
  footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    text-align: right;
  }
}

/* home page */
/* welcome section */

.welcome {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

.welcome .welcome-image img {
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

.welcome .welcome-text h2 {
  color: var(--primary-color);
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
  white-space: nowrap;
}

.welcome .welcome-text h2 img {
  margin: 0 .5rem;
}

.welcome .welcome-text button {
  /* margin-top: 1rem; */
  padding: .3rem 2rem .5rem;
}

.welcome .welcome-text p {
  line-height: 55px;
}

@media(min-width: 768px) {
  .welcome {
    padding: 0 2rem;
    text-align: right;
  }

  .welcome .welcome-text {
    flex-basis: 42%;
  }

  .welcome .welcome-text h2 {
    flex-flow: row wrap;
  }

  .welcome .welcome-image {
    flex-basis: 58%;
    margin-top: 5rem;
  }
}

/* services section */

.services {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

.services .services-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  order: 2;
}

.services .services-list .services-item {
  border: 5px solid var(--primary-color);
  padding: 2rem .5rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.services .services-list .services-item img {
  width: 100px;
  height: 100px;
}

.services .services-list .services-item h6 {
  font-family: var(--secondary-font-family);
  margin: .5rem;
}

.services .services-text {
  order: 1;
}

.services .services-text h1 {
  color: var(--primary-color);
  margin-bottom: 2rem;
}

.services .services-text p {
  line-height: 55px;
}

.services .services-text button {
  margin: 1rem 0 2rem;
}

@media (min-width: 768px) {
  .services {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  .services .services-list {
    flex-basis: 50%;
    grid-template-columns: repeat(2, 1fr);
  }

  .services .services-text {
    flex-basis: 40%;
  }
}

/* subscriptions section */

.subscriptions {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  margin: 0;
  text-align: center;
  gap: 1rem;
}

.subscriptions .subscriptions-text {
  background-color: var(--muted-purple);
  color: var(--secondary-text-color);
  flex-basis: 20%;
  padding: 1.5rem 1rem;

}

.subscriptions .subscriptions-text,
.subscriptions .subs-item {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.subscriptions .subs h3 {
  color: var(--primary-color);
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}

.subs .subs-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.subs .subs-item {
  border: 4px solid var(--primary-color);
  padding: .2rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
}

.subs .subs-item:nth-child(2)::after {
  content: "ننصح به";
  font-size: 16px;
  position: absolute;
  top: 15px;
  left: -23px;
  width: 100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: .3rem;
  background-color: #F6991A;
  color: var(--white);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.subs .subs-item h5,
.subs .subs-item h6,
.subs .subs-item p,
.subs .subs-item button {
  margin: .5rem;
}

.subs .subs-item h5 {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.subs p {
  line-height: 34.68px;
}

.subs .subs-item p {
  margin-bottom: .7rem;
}

.subs .subs-item h6 {
  font-size: 14px;
  color: var(--black);
  margin-bottom: 0;
}

.subs .subs-item h6 span {
  font-size: 36px;
  font-weight: 700;
}

.subs .subs-item button {
  color: var(--primary-color);
  background-color: var(--white);
  border: none;
  padding: .2rem .6rem .4rem;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  box-shadow: 1px 7px 4px 0px #00000040;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.subs .subs-item button:hover {
  color: var(--white);
  background-color: var(--primary-color);
}

@media (min-width: 768px) {
  .subscriptions {
    flex-flow: row wrap;
  }

  .subs .subs-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .subs .subs-item {
    height: 100%;
  }

  .subscriptions .subscriptions-text {
    flex-basis: 20%;
    height: 15rem;
  }

  .subscriptions .subs {
    flex-basis: 70%;
  }

  .subscriptions .subs h3 {
    text-align: right;
  }
}

/* app section */

.app {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  gap: 1rem;
  background-color: var(--muted-purple);
  color: var(--secondary-text-color);
  /* margin: 0; */
}

.app h3 {
  color: var(--white)
}

.app .app-buttons {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.app .app-buttons a {
  color: var(--black);
  background-color: var(--light-grey);
  width: 190px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border: none;
  padding: .3rem .4rem .3rem;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.app .app-buttons a:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.app .app-buttons a img {
  width: 50px;
  height: 50px;
  margin-right: .5rem;
}

@media (min-width: 768px) {
  .app {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    text-align: right;
  }

  .app .app-text {
    flex-basis: 65%;
  }

  .app .app-text .app-buttons {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
}

/* login page */

.login-page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

.login-page .login-text {
  order: 1;
  padding: 2rem 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: var(--secondary-font-family);
}

.login-page .login-image {
  background: url(../assets/illustorations/login-background.png) no-repeat center center/cover;
  order: 2;
  height: 120vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.login-page .login-image img {
  width: 100%;
  height: auto;
}

.login-page .login-text .login-tabs button {
  border: none;
  padding: 1rem 3rem;
  font-family: var(--secondary-font-family);
  color: var(--primary-color);
  background-color: #EADECF;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-page .login-text .login-tabs button:first-of-type {
  border-top-right-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-top-right-radius: 20px;
  -ms-border-top-right-radius: 20px;
  -o-border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-bottom-right-radius: 20px;
  -ms-border-bottom-right-radius: 20px;
  -o-border-bottom-right-radius: 20px;
}

.login-page .login-text .login-tabs button:last-of-type {
  border-top-left-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-top-left-radius: 20px;
  -ms-border-top-left-radius: 20px;
  -o-border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-bottom-left-radius: 20px;
  -ms-border-bottom-left-radius: 20px;
  -o-border-bottom-left-radius: 20px;
}

.login-page .login-text .login-tabs button.active {
  background-color: var(--primary-color);
  color: var(--white);
  box-shadow: -2px 5px 4px rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
  .login-page {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    /* height: 100vh; */
  }

  .login-page .login-text {
    flex-basis: 50%;
    order: 1;
  }

  .login-page .login-image {
    flex-basis: 50%;
    order: 2;
  }
}

.login-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

.login-form form {
  width: 100%;
}

.login-form a {
  color: var(--muted-purple);
}

.form h4 {
  color: var(--primary-color);
  margin: 0;
  padding: 1.3rem;
}

.primary-label input {
  width: 100%;
  padding: .6rem 2.6rem .7rem;
  margin: .5rem 0;
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.primary-label input:focus {
  outline: 2px solid var(--primary-color);
  caret-color: var(--primary-color);
}

.primary-label input::-webkit-input-placeholder {
  color: var(--text-purple);
}

.primary-label input::-moz-placeholder {
  color: var(--text-purple);
}

.primary-label input:-ms-input-placeholder {
  color: var(--text-purple);
}

.primary-label input::-ms-input-placeholder {
  color: var(--text-purple);
}

.primary-label input::placeholder {
  color: var(--text-purple);
}

.primary-label {
  position: relative;
  display: flex;
  justify-content: center;
}

.primary-label .icon {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  width: 24px;
  height: 24px;
}

.primary-label #eye {
  position: absolute;
  width: 29px;
  top: 1.4rem;
  left: 1rem;
}

.login-form .second-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  padding: 1rem 0;
  color: var(--muted-purple);
}

.login-form .second-group .checkbox {
  display: flex;
  align-items: center;
}

.login-form .second-group img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.form button {
  padding: .4rem 1.2rem .6rem;
  margin: 1rem 0;
}

.form small {
  color: var(--black);
  margin-bottom: 1rem;
}

.login-form .socials {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.login-form .socials a {
  margin-bottom: 1rem;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: .1rem .5rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.form .socials img {
  width: 60px;
  height: 60px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.form .socials a:hover,
.form .socials img:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.signup-form {
  width: 90%;
}

@media (min-width: 768px) {
  .signup-form {
    width: 60%;
  }
}

.signup-form .first-group {
  display: flex;
  gap: .5rem;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.signup-form .first-group .img-container {
  background-color: var(--white);
  padding: .4rem .5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.signup-form .first-group #camera {
  width: 27px;
  height: 25px;
}

.signup-form .second-group {
  display: flex;
  gap: .3rem;
}

.signup-form .second-group .primary-label input {
  border-top-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  -ms-border-top-left-radius: 0;
  -o-border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  -ms-border-bottom-left-radius: 0;
  -o-border-bottom-left-radius: 0;
}

.signup-form select {
  padding: 0 .5rem;
  color: var(--text-purple);
  width: 30%;
  margin: .5rem 0;
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-top-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  -ms-border-top-right-radius: 0;
  -o-border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  -ms-border-bottom-right-radius: 0;
  -o-border-bottom-right-radius: 0;
}

.signup-form select:focus {
  outline: 2px solid var(--primary-color);
  caret-color: var(--primary-color);
}

.select-wrapper .primary-select {
  width: 100%;
  padding: .6rem 2.6rem .7rem;
  margin: .5rem 0;
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: var(--text-purple);
}

.select-wrapper {
  position: relative;
}

.select-wrapper img {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  width: 24px;
  height: 24px;
}

.signup-form .gender-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  color: var(--muted-purple);
}

.signup-form .gender-group h6 {
  margin: 0;
}

.signup-form .gender-group input {
  border: none;
}

.subscribe-form {
  width: 90%;
}

.subscribe-form h6,
.subscribe-form small {
  color: var(--primary-color);
}

.subscribe-form h6 {
  margin: 2rem
}

.subscribe-form small {
  margin: 0;
}

.subscribe-form .subs {
  background-color: var(--primary-color);
  padding: .5rem;
  margin-bottom: 3rem;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

@media (min-width: 768px) {
  .subscribe-form .subs {
    padding: .5rem .5rem 1.3rem;
  }

  .subscribe-form {
    width: 80%;
  }
}

.subscribe-form .subs .subs-list {
  gap: .5rem;
}

.subscribe-form .subs .subs-item {
  padding-top: .6rem;
  background-color: var(--grey);
  border: none;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.subscribe-form .subs h6 {
  font-size: 10px;
}

.subscribe-form .subs h6 .price {
  font-size: 20px;
}

.subscribe-form .subs p {
  font-size: 13px;
  height: 30%;
  line-height: 20.23px;
}

.subscribe-form button {
  padding: .4rem 3rem .5rem;
}

.subscribe .login-image {
  height: 134vh;
}

.payment .login-image {
  height: 122vh;
}

.payment-form .payment-choice {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
  gap: 1rem;
}

.payment-form .payment-item {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.payment-form .payment-item:first-child {
  background-color: var(--white);
  padding: 1.5rem 1.5rem 1rem;
  text-align: right;
}

.payment-form .payment-item h6,
.payment-form .payment-item h5 {
  margin: 0;
}

.payment-form .payment-item h5 {
  margin-bottom: .5rem;
}

.payment-form .payment-method label {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-align: right;
  gap: .5rem;
  color: var(--muted-purple);
}

.payment-form .payment-method hr {
  border-top: 1px solid var(--text-purple);
  width: 80%;
}

.payment-form .payment-method label img {
  width: 40px;
  height: 40px;
}

.payment-form .payment-method label .payment-method-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding-top: 1rem;
}

.payment-form .payment-method label .payment-method-text small {
  color: var(--muted-purple);
  margin-top: .5rem;
}

.payment-form .payment-item:nth-of-type(2) {
  background-color: #6f6f6f1c;
  padding: 1.5rem 2rem 1rem;
  color: var(--text-purple);
}

.payment-form .payment-item:nth-of-type(2) h5 {
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.payment-form .payment-item:nth-of-type(2) h6 {
  margin-bottom: 1rem;
}

.payment-form .payment-item:nth-of-type(2) small {
  color: var(--text-purple);
  font-size: 12.8px;
}

.payment-form .payment-item:nth-of-type(2) small .price {
  font-weight: 700;
  margin-left: .2rem;
  font-size: 16px;
}

.payment-form .payment-details {
  margin-top: 1rem;
  background-color: var(--white);
  border: 18px solid var(--muted-grey);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.payment-form .payment-details .fawry h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.payment-form .payment-details .fawry h5,
.payment-form .payment-details .fawry h6 {
  color: var(--primary-color);
  margin: 1rem;
}

.payment-form .payment-details .fawry .time {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.payment-form .payment-details .fawry .time h6 {
  display: flex;
  flex-flow: column nowrap;
  gap: .5rem;
  margin: 0 1rem 1rem;
}

.payment-form .payment-details .visa {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
}

.payment-form .payment-details .visa .img-container {
  background-color: #ECE8DDAD;
  padding: 0 1rem;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  /* flex-basis: 40%; */
}

/* .payment-form .payment-details .visa .img-container img {
  width: 120px;
  height: 120px;
} */

.payment-form .payment-details .visa .visa-info {
  /* flex-basis: 50%; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: .5rem;
}

.payment-form .payment-details .visa .visa-info input {
  border: none;
  border-bottom: 1px solid var(--primary-color);
  padding: .5rem;
  color: var(--primary-color);
}

.payment-form .payment-details .visa .visa-info input::-webkit-input-placeholder {
  color: var(--primary-color);
}

.payment-form .payment-details .visa .visa-info input::-moz-placeholder {
  color: var(--primary-color);
}

.payment-form .payment-details .visa .visa-info input:-ms-input-placeholder {
  color: var(--primary-color);
}

.payment-form .payment-details .visa .visa-info input::-ms-input-placeholder {
  color: var(--primary-color);
}

.payment-form .payment-details .visa .visa-info input::placeholder {
  color: var(--primary-color);
}

.payment-form .payment-details .visa .visa-info input:focus {
  outline: none;
  caret-color: var(--primary-color);
}

.payment-form .payment-details .visa .visa-info label {
  position: relative;
}

.payment-form .payment-details .visa .visa-info label span {
  position: absolute;
  top: .6rem;
  left: 0;
  color: var(--primary-color);
}

/* dashboard */

.dashboard {
  margin: 0;
}

.dashboard .features {
  background-color: #871D63CC;
  padding: 3rem 5rem 1rem;
  color: var(--white);
  font-weight: 700;
  margin-bottom: 1rem;
}

.dashboard .features h6 {
  margin: 0;
}

.dashboard .features h6,
.dashboard .features p {
  font-family: var(--secondary-font-family);
  font-weight: 700;
}

.dashboard .features .features-wrapper {
  display: flex;
  justify-content: center;
}

.dashboard .features .features-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  text-align: center;
}

.dashboard .features .features-list .features-item {
  background-color: var(--grey);
  padding: 2rem;
  border-radius: 25px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.dashboard .features .features-list .features-item:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.dashboard .features .features-list .features-item img {
  width: 80px;
  height: 80px;
}

@media (min-width: 768px) {
  .dashboard .features {
    padding-top: 7rem;
  }

  .dashboard .features .features-list {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}

.dashboard .appointments {
  padding: 0 5rem 2rem;
  color: var(--black);
}

.dashboard .appointments .heading-text {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: var(--secondary-font-family);
  margin-bottom: 1rem;
}

.dashboard .appointments .heading-text h6 {
  font-weight: 700;
}

.dashboard .appointments .heading-text a {
  text-decoration: underline;
  color: var(--primary-color);
}

.dashboard .appointments .appointments-wrapper {
  display: flex;
  justify-content: center;
}

.dashboard .appointments .appointments-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.appointments-item {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 25px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: var(--secondary-font-family);
}

.appointments-item .patient-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media (min-width: 768px) {
  .dashboard .appointments .appointments-list {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.appointments-item .patient-info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 1rem;
  width: 100%;
}

.appointments-item .patient-info h6 {
  margin: 0;
  font-weight: 700;
}

.appointments-item .appointments-item-text {
  color: var(--muted-purple);
  padding-top: 1rem;
}

.appointments-item .appointments-item-text small {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-bottom: .5rem;
}

.appointments-item .appointments-item-text img {
  width: 22px;
  height: 22px;
}

/* sidebar */

.sidebar {
  position: absolute;
  top: 3rem;
  width: 100%;
  right: -100%;
  height: fit-content;
  background-color: var(--white);
  z-index: 100;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
  transform: translateX(-100%);
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  text-align: center;
  box-shadow: 1px 7px 4px 2px #00000040;
}

@media (min-width: 768px) {
  .sidebar {
    top: 5.2rem;
    right: -5rem;
    width: 5rem;
    height: 100vh;
    flex-flow: column nowrap;
    justify-content: flex-start;
  }

  .sidebar a {
    margin-top: 1rem;
  }
}

.sidebar a {
  width: 4.8rem;
  padding: .5rem 0;
}

.sidebar a.active,
.sidebar a:hover {
  background-color: #f4efe7;
  border-bottom: 3px solid var(--primary-color);
}

@media (min-width: 768px) {

  .sidebar a.active,
  .sidebar a:hover {
    border-bottom: none;
    border-right: 3px solid var(--primary-color);
  }
}

.sidebar img {
  width: 40px;
  height: 40px;
}

.sidebar h6 {
  margin: 0;
  font-weight: normal;
  font-size: 12px
}

/* chat */

.chat-page {
  padding-top: 7rem;

}

.chat-page .chat {
  padding: 0 6rem 2rem 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 0;
  gap: .5rem;
}

.chat-page .chat .chats,
.chat-page .chat .chat-form,
.chat-page .chat .media {
  height: 74vh;
}

.chat-page .chat .chats,
.chat-page .chat .chat-form,
.chat-page .chat .media-body {
  background-color: var(--white);
  padding: 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  flex-basis: 85%;
}

.chat-page .chat .chats,
.chat-page .chat .chat-form .messages,
.chat-page .chat .media-body {
  overflow-y: scroll;
}

.chat-page .chat .chats::-webkit-scrollbar,
.chat-page .chat .chat-form .messages::-webkit-scrollbar,
.chat-page .chat .media-body::-webkit-scrollbar {
  width: 4px;
  background: transparent;
  border-radius: 25px;
}

.chat-page .chat .chats::-webkit-scrollbar-thumb,
.chat-page .chat .chat-form .messages::-webkit-scrollbar-thumb,
.chat-page .chat .media-body::-webkit-scrollbar-thumb {
  background: var(--text-purple);
  border-radius: 25px;
}

.chat-page .chat .chats::-webkit-scrollbar-button,
.chat-page .chat .chat-form .messages::-webkit-scrollbar-button,
.chat-page .chat .media-body::-webkit-scrollbar-button {
  height: 30px;
}


.chat-page .chat .media-body img {
  width: 100px;
  height: 100px;
  border: 1px solid #85456F;
}

.chat-page .chat .chats .chats-search {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.chat-page .chat .chats .chats-search input {
  width: 100%;
  background-color: var(--grey);
  padding: .8rem 3.5rem .9rem;
  margin: .5rem 0;
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

}

.chat-page .chat .chats .chats-search img {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  width: 24px;
  height: 24px;
}

.chat-page .chat .chats .chats-search input:focus {
  outline: 2px solid var(--primary-color);
  caret-color: var(--primary-color);
}

.chat-page .chat .chats .chats-list img {
  width: 72px;
  height: 72px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.chat-page .chat .chats .chats-list .chats-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.chat-page .chat .chats .chats-list .chats-item h6,
.chat-page .chat .chats .chats-list .chats-item p {
  margin: 0;
}

.chat-page .chat .chats .chats-list .chats-item .chats-item-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.chat-page .chat .chats .chats-list .chats-item h6 {
  color: var(--black);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

.chat-page .chat .chats .chats-list .chats-item h6 span {
  background-color: var(--primary-color);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.chat-page .chat .chats .chats-list .chats-item p {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 25rem;
  overflow: hidden;
}

.chat-page .chat .chat-form {
  position: relative;
}

.chat-page .chat .chat-form form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
  width: 90%;
  position: absolute;
  height: 20px;
  bottom: 30px;
}

.chat-page .chat .chat-form form input {
  width: 100%;
  background-color: var(--muted-purple);
  padding: 1.4rem 2.5rem;
  margin: .5rem 0;
  border: none;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  height: 100%;
}

.chat-page .chat .chat-form form input::-webkit-input-placeholder {
  color: #FFFFFF80;
}

.chat-page .chat .chat-form form input::-moz-placeholder {
  color: #FFFFFF80;
}

.chat-page .chat .chat-form form input:-ms-input-placeholder {
  color: #FFFFFF80;
}

.chat-page .chat .chat-form form input::-ms-input-placeholder {
  color: #FFFFFF80;
}

.chat-page .chat .chat-form form input::placeholder {
  color: #FFFFFF80;
}

.chat-page .chat .chat-form form input:focus {
  color: var(--white);
  outline: none;
}

.chat-page .chat .chat-form form button {
  background-color: var(--muted-purple);
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: .6rem .8rem;
}

.chat-page .chat .chat-form form #pin {
  position: absolute;
  top: -5px;
  right: 4rem;
  width: 20px;
  height: 30px;
}

.chat-page .chat .chat-form form button:first-child img {
  width: 20px;
  height: 25px;
}

.chat-page .chat .chat-form form button:last-child img {
  width: 20px;
  height: 25px;
}

.chat-page .chat .chat-form .messages {
  height: 90%;
  overflow: hidden;
  overflow-y: scroll;
  padding-left: 1rem;
}


.chat-page .chat .chat-form .messages .message {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.chat-page .chat .chat-form .messages .message .profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
}

.chat-page .chat .chat-form .messages .message .text {
  padding: .6rem 1rem;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.chat-page .chat .chat-form .messages .message .me {
  background-color: var(--light-grey);
  justify-content: flex-end;
}

.chat-page .chat .chat-form .messages .message:has(.me) {
  justify-content: flex-end;
}

.chat-page .chat .chat-form .messages .message p {
  margin: 0;
}

.chat-page .chat .chat-form .messages .message .received {
  background-color: var(--muted-purple);
  color: var(--white);
}

.chat-page .chat .chat-form,
.chat-page .chat .media {
  display: none;
}

@media (min-width: 768px) {

  .chat-page .chat .chat-form,
  .chat-page .chat .media {
    display: block;
  }

  .chat-page .chat .chats,
  .chat-page .chat .chat-form,
  .chat-page .chat .media-body {
    flex-basis: 25%;
  }

  .chat-page .chat .chats,
  .chat-page .chat .chat-form {
    flex-basis: 43%;
  }
}

/* appointments page */

.sidebar {
  top: 3.8rem;
}

.appointments-page .main-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0 2rem;
}

@media (min-width: 768px) {
  .sidebar {
    top: 4.6rem;
  }
}

.appointments-page .date-picker {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.appointments-page .date-picker img {
  background-color: var(--white);
  padding: .4rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.appointments-page .date-picker .selects,
.appointments-page .date-picker .today {
  display: flex;
  gap: .3rem;
  flex-flow: column nowrap;
  justify-content: center;
}

@media (min-width: 768px) {

  .appointments-page .date-picker .selects,
  .appointments-page .date-picker .today {
    flex-flow: row nowrap;
  }

  .appointments-page .date-picker .top-right-curve {
    border-radius: 0px 25px 0px 0px;
  }

  .appointments-page .date-picker .bottom-right-curve {
    border-radius: 0px 0px 25px 0px;
  }

  .appointments-page .date-picker .top-left-curve {
    border-radius: 25px 0px 0px 0px;
  }

  .appointments-page .date-picker .bottom-left-curve {
    border-radius: 0px 0px 0px 25px;
  }
}

.appointments-page .date-picker .selects select {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  padding: 0 2rem;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appointments-page .date-picker .selects select,
.appointments-page .date-picker .today small {
  width: 10rem;
  height: 2rem;
}


.appointments-page .date-picker .selects select:focus {
  background-color: var(--white);
  color: var(--primary-color);
  outline: none;
}

.appointments-page .date-picker .selects select:hover,
.appointments-page .date-picker .selects select option:hover {
  background-color: var(--white);
  color: var(--primary-color);
}

.appointments-page .date-picker .today small {
  background-color: var(--white);
  color: var(--primary-color);
  border: none;
  outline: none;
  font-weight: 700;
  font-family: var(--third-font-family);
  display: flex;
  justify-content: center;
  align-items: center;
}

.appointments-page .show-all {
  padding-right: 6rem;
  color: var(--muted-purple);
  margin-bottom: 1rem;
}

.appointments-page .show-all input[type='checkbox'] {
  margin-left: .5rem;
  border: 1px solid var(--muted-purple);
}

.appointments-page #search {
  background-color: var(--white);
  color: var(--primary-color);
  caret-color: var(--primary-color);
  padding: .5rem 1rem .6rem;
  margin: .5rem 0;
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  width: minmax(50rem, 100%);
}

.appointments-page #search::-webkit-input-placeholder {
  color: var(--text-purple);
}

.appointments-page #search::-moz-placeholder {
  color: var(--text-purple);
}

.appointments-page #search:-ms-input-placeholder {
  color: var(--text-purple);
}

.appointments-page #search::-ms-input-placeholder {
  color: var(--text-purple);
}

.appointments-page #search::placeholder {
  color: var(--text-purple);
}

.appointments-page #search:focus {
  outline: 2px solid var(--primary-color);
}

.appointments-page .appointments {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-height: 50vh;
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.appointments-page .appointments .appointments-item {
  background-color: var(--muted-grey);
  font-family: var(--third-font-family);
  color: var(--black);
  padding: 1.3rem 1.5rem .8rem;
}

.appointments-page .appointments .appointments-item .img-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: .5rem;
}

.appointments-page .appointments .appointments-item .cancel-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  gap: .5rem;
}

.appointments-page .appointments .appointments-item button {
  background-color: var(--muted-purple);
  color: var(--white);
  border: none;
  border-radius: 25px;
  padding: .5rem 1rem;
  font-family: var(--third-font-family);
  font-weight: 600;
  font-size: 12.8px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.appointments-page .appointments .appointments-item button:hover {
  background-color: var(--white);
  color: var(--muted-purple);
}

.appointments-page .appointments .appointments-item small {
  margin-bottom: 1.2rem;
}

@media (min-width:768px) {
  .appointments-page .appointments {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}

/* patients page */

.patients-page .main-content {
  padding: 0 2rem;
}

.patients-page .search {
  position: relative;
  margin-bottom: 1rem;
}

.patients-page .search input {
  background-color: var(--white);
  color: var(--primary-color);
  caret-color: var(--primary-color);
  padding: .5rem 3rem .6rem;
  margin: 0;
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  width: 100%;
}

@media (min-width: 768px) {
  .patients-page .search input {
    width: 40%;
  }

  .patients-page .main-content {
    padding-right: 7rem;
  }
}

.patients-page .search input::-webkit-input-placeholder {
  color: var(--black);
}

.patients-page .search input::-moz-placeholder {
  color: var(--black);
}

.patients-page .search input:-ms-input-placeholder {
  color: var(--black);
}

.patients-page .search input::-ms-input-placeholder {
  color: var(--black);
}

.patients-page .search input::placeholder {
  color: var(--black);
}

.patients-page .search input:focus {
  outline: 2px solid var(--primary-color);
}

.patients-page .search img {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  width: 24px;
  height: 24px;
}

.patients-page .patients-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.patients-page .patients-header h5 {
  color: var(--black);
}

.patients-page .patients-header button {
  background: transparent;
  border: none;
}

.patients-page .patients-header .next-pages {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: .1rem;
}

.patients-page .patients-header .next-pages span {
  color: var(--black);
  font-weight: 700;
}

.patients-page .patients-header h5 {
  margin: 0;
}

.patients-page .patients table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 2rem;
  background-color: var(--muted-grey);
  padding: 1rem 0;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  text-align: right;
}

.patients-page .patients thead th:first-child {
  padding-right: 1rem;
}

.patients-page .patients thead th,
.patients-page .patients tbody #name {
  color: var(--black);
  font-weight: 700;
  padding-right: 1rem;
}

.patients-page .patients thead th {
  padding: 1rem 0 1.8rem;
  border-bottom: 1px solid var(--black);
  text-align: center;
}

.patients-page .patients tbody td {
  padding: 1.5rem 0;
}

.patients-page .patients tbody td:not(#name):not(#tests) {
  color: var(--muted-purple);
  font-family: var(--third-font-family);
}

.patients-page .patients tbody td.appointment h6 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: .5rem;
  font-weight: normal;
}

.patients-page .patients tbody td.appointment h6 img {
  width: 25px;
  height: 25px;
}

.patients-page .patients tr:not(:last-child) td {
  border-bottom: 1px solid var(--black);
}

.patients-page .patients tbody td#tests h6 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  font-family: var(--secondary-font-family);
}

.patients-page .patients tbody td#tests h6 .is-done {
  color: var(--muted-purple);
}

.patients-page .patients tbody td#imgs img {
  width: 24px;
  height: 24px;
}

.patients-page .patients tbody td#imgs #dots {
  height: 5.25px;
  width: 21px;
}

.patients-page .patients tbody td#imgs h6 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: .7rem;
}

.patients-page .patients tbody td#imgs a {
  display: flex;
  align-items: center;
}

.patients-page .add {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.patients-page .add button {
  background-color: transparent;
  display: flex;
  flex-flow: row nowrap;
  gap: .5rem;
  border: none;
  color: var(--muted-purple);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  z-index: 1000;
  background-color: #ECE8DD;
  padding: 2rem;
  border-radius: 25px;
  max-width: 40rem;
  position: relative;
  font-family: var(--secondary-font-family);
  color: var(--primary-color);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

@media (min-width: 768px) {
  .modal {
    width: 25%;
  }
}

.modal label {
  font-weight: 700;
}

.modal #x {
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  position: absolute;
  left: 1rem;
  font-weight: 600;
}

.modal input {
  background-color: var(--white);
  color: var(--black);
  padding: .5rem 1rem;
  margin: .5rem 0;
  border: none;
  border-radius: 20px;
  width: 100%;
}

.modal input::-webkit-input-placeholder {
  color: var(--text-purple);
}

.modal input::-moz-placeholder {
  color: var(--text-purple);
}

.modal input:-ms-input-placeholder {
  color: var(--text-purple);
}

.modal input::-ms-input-placeholder {
  color: var(--text-purple);
}

.modal input::placeholder {
  color: var(--text-purple);
}

.modal input:focus {
  outline: 2px solid var(--primary-color);
}

.modal .gender {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal .gender h6 {
  color: var(--primary-color);
  font-weight: 700;
}

.modal .gender label {
  color: var(--muted-purple);
}

.modal .gender .radio {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: .5rem;
}

.modal .age-input {
  position: relative;
}

.modal .age-input input {
  width: 4.6rem;
}

.modal .age-input input::-webkit-input-placeholder {
  color: var(--black);
  font-weight: 700;
  font-family: var(--font-family);
}

.modal .age-input input::-moz-placeholder {
  color: var(--black);
  font-weight: 700;
  font-family: var(--font-family);
}

.modal .age-input input:-ms-input-placeholder {
  color: var(--black);
  font-weight: 700;
  font-family: var(--font-family);
}

.modal .age-input input::-ms-input-placeholder {
  color: var(--black);
  font-weight: 700;
  font-family: var(--font-family);
}

.modal .age-input input::placeholder {
  color: var(--black);
  font-weight: 700;
  font-family: var(--font-family);
}

.modal .age-input .icon {
  position: absolute;
}

.modal .age-input #up {
  top: .8rem;
  right: 3rem;
}

.modal .age-input #down {
  bottom: .8rem;
  right: 3.05rem;
}

.modal .group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: .2rem;
}

.modal .group .primary-label {
  width: 70%;

}

.modal .group .primary-label input {
  padding-right: 2.7rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  -ms-border-top-left-radius: 0;
  -o-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  -ms-border-bottom-left-radius: 0;
  -o-border-bottom-left-radius: 0;
}

.modal .group .primary-label img {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  width: 24px;
  height: 24px;
}

.modal .group .primary-select {
  width: 30%;
  padding: .4rem 1rem;
  color: var(--text-purple);
  margin: .5rem 0;
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-top-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  -ms-border-top-right-radius: 0;
  -o-border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  -ms-border-bottom-right-radius: 0;
  -o-border-bottom-right-radius: 0;
}

.modal .email-section {
  position: relative;
}

.modal .email-section img {
  position: absolute;
  top: .9rem;
  right: 1rem;
  width: 24px;
  height: 24px;
}

.modal .btn-wrapper {
  display: flex;
  justify-content: center;
}

.modal .btn-wrapper button {
  padding: .4rem 1rem .6rem;
  margin-top: 1rem;
}

/* edit patient modal */
.edit-patient .modal {
  width: 90%;
  max-width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.edit-patient .modal .primary-button {
  padding: .5rem 2rem .7rem;
}

.edit-patient .modal .appointments {
  display: flex;
  align-items: center;
}

.edit-patient .modal .appointments .appointments-item {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.edit-patient .modal .appointments .appointments-item .cancel-btn {
  padding: .5rem 1rem;
  background-color: var(--muted-purple);
  color: var(--white);
  border: none;
  border-radius: 25px;
  font-family: var(--third-font-family);
  font-size: smaller;
}

.edit-patient .overlay .modal .main {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.edit-patient .react-calendar__tile--active:enabled {
  background-color: var(--muted-purple);
  color: var(--white);
}

.edit-patient .modal #x {
  top: 1rem;
}

.edit-patient .modal .label {
  width: 15%;
}

.edit-patient input {
  width: 83%;
  color: var(--muted-purple);
}

.edit-patient #phone,
#email,
#location {
  padding-right: 3rem;
}



.edit-patient #phone {
  width: 52%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.edit-patient .icon {
  position: absolute;
  right: 6.5rem;
}

.edit-patient .inputs {
  padding: 0 0 1rem;
  margin-bottom: 1rem;
  max-width: 30%;
}

.edit-patient .calendar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
  padding: 0 0 1rem;
  margin-bottom: 1rem;
  max-width: 30%;
}

.edit-patient .calendar h6 {
  text-align: right;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.edit-patient .calendar .react-calendar {
  margin-top: 1.5rem;
  width: 100%;
  font-family: var(--secondary-font-family);
}

.edit-patient .calendar .react-calendar__navigation button {
  color: var(--muted-purple);
  font-family: var(--third-font-family);
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}



.edit-patient .calendar .react-calendar__navigation {
  justify-content: center;
}

.edit-patient .calendar .react-calendar__navigation button:nth-child(2) {
  flex-grow: 0;
}

.edit-patient .react-calendar__month-view__weekdays__weekday {
  background-color: var(--muted-purple);
  color: var(--white);
  box-shadow: -2px 1px 4px rgba(0, 0, 0, 0.25);
  font-weight: 300;
}

.edit-patient .react-calendar__month-view__weekdays__weekday:not(:last-child) {
  border-left: 1px solid #0000004d;
}

.edit-patient .react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.edit-patient .react-calendar__tile {
  color: var(--muted-purple);
  background-color: var(--white);
}

.edit-patient .react-calendar__tile--now {
  background-color: var(--muted-purple);
  color: var(--white);
}

.edit-patient .react-calendar {
  padding: 1rem;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 25px;
}

.edit-patient .calendar .react-calendar__navigation button:hover,
.edit-patient .react-calendar__tile:enabled:hover {
  background-color: var(--muted-purple);
  color: var(--white);
}

.edit-patient .react-calendar__tile--now:enabled:hover {
  background: var(--muted-grey);
  color: var(--muted-purple);
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background-color: var(--muted-purple);
  color: var(--white);
}

.edit-patient .name {
  color: var(--muted-purple);
}

.diagnosis-page form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem 1rem;
  margin-bottom: 1rem;
  min-height: 70vh;
  color: var(--primary-color);
}

.diagnosis-page .input-section {
  position: relative;
}

.diagnosis-page .input-section img {
  position: absolute;
  height: 23px;
  width: 23px;
  right: 15px;
  top: 18px;
}

.diagnosis-page .input-section .primary-select {
  width: 100%;
  padding: .4rem 2.5rem;
  color: var(--text-color);
  margin: .5rem 0;
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.diagnosis-page .input-section .primary-select:focus {
  outline: 2px solid var(--primary-color);
}

.diagnosis-page .diagnosis-types {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  .diagnosis-page .input-section .primary-select {
    width: 30rem;
  }

  .diagnosis-page .diagnosis-types {
    flex-flow: row wrap;
    gap: 1rem;
  }
}

.diagnosis-page .diagnosis-types button {
  padding: .5rem 1rem;
  width: 8rem;
}

/* .tool page */

.tool-page {
  padding-top: 9rem;
}

.tool-page .tool-content h6,
.tool-page .tool-content li {
  color: var(--primary-color);
}

.tool-page .tool-content .content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.tool-page form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 2rem;
  margin: 1rem;
  min-height: 60vh;
  color: var(--white);
  text-align: center;
}

.tool-page form input[type='file'] {
  display: none;
}

.tool-page form .file-input label {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.tool-page form .file-input label img,
.tool-page form .file-input label small {
  margin-bottom: .5rem;
}

.tool-page .file-input {
  background: rgba(135, 29, 99, 0.5);
  padding: 4rem;
  border: 5px dashed #871D63;
}

.tool-form .primary-button {
  padding: .5rem 2rem .7rem;
}

.tool-page .analysis {
  background: rgba(135, 29, 99, 0.5);
  padding: 2rem 4rem;
  border: 5px dashed #871D63;
  width: 100%;
  text-align: center;
}

.tool-page .analysis h6 {
  color: var(--white);
}


.tool-page .tool-content {
  padding: 2rem;
}

@media (min-width: 768px) {
  .tool-page .tool-content .analysis {
    width: 25%;
  }

  .tool-page .tool-content {
    padding-right: 7rem;
  }
}

.result-page {
  padding-top: 9rem;
}

.result-page .result-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.result-page .result-content .primary-button {
  padding: .5rem 2rem .7rem;
}

.result-page .result-details,
.result-page .result {
  width: 100%;
  background: rgba(135, 29, 99, 0.5);
  padding: 2rem;
  border: 5px dashed #871D63;
  width: 80%;
  text-align: center;
}

.result-page .result {
  color: var(--white);
}

.result-page .result-details {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.result-page .result-details .row {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.result-page .result-details h6 {
  background-color: var(--white);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: fit-content;
  direction: ltr;
  min-height: 1.2rem;
}

.result-page .modal {
  background-color: var(--grey);
  width: 80%;
}

@media (min-width: 768px) {

  .result-page .result-details,
  .result-page .result {
    width: 50%;
  }

  .result-page .modal {
    width: fit-content;
  }
}



.result-page .modal .content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  padding: 1rem;
}

.result-page .modal .content .buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.result-page .modal .content .buttons button {
  padding: .5rem 2rem .7rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  width: 7rem;
  justify-content: center;
}

.result-page .modal .content .buttons button img {
  width: 20px;
  height: 20px;
}

.appointments-item .patient-info .img-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.appointments-item:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
}

@media (min-width: 768px) {
  .appointments-page .main-content {
    padding-right: 7rem;
  }
}

.secondary-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.secondary-nav a {
  padding: 1rem 0;
  font-weight: 700;
  font-family: var(--secondary-font-family);
}

.secondary-nav .profile {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1rem;
}

.secondary-nav .profile h6 {
  padding-bottom: .3rem;
}

.secondary-nav .profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.secondary-nav .profile img.default-img {
  width: 33px;
  height: 33px;
  padding: .3rem;
}

.secondary-nav .profile .default-img {
  background-color: var(--light-grey);
}

.secondary-nav .active {
  color: var(--primary-color);
  font-weight: 700;
}

.secondary-nav .tabs {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  .secondary-nav {
    padding: 0 7rem;
  }

  .secondary-nav .tabs {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    padding: 0;
  }
}

.appointments-page,
.patients-page,
.diagnosis-page,
.tool-page,
.result-page {
  padding-top: 12rem;
}

@media (min-width: 768px) {

  .appointments-page,
  .patients-page,
  .diagnosis-page,
  .tool-page,
  .result-page {
    padding-top: 4.8rem;
  }
}