html,
body,
.root {
  height: 100%;
  width: 100%;
}

.primary-button {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border: none;
  background-color: var(--primary-color);
  color: var(--white);
  cursor: pointer;
  padding: .2rem .5rem .4rem;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .2);
}

/* navbar */

.navbar {
  width: 100vw;
  padding: 1rem 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  position: fixed;
  overflow: hidden;
  z-index: 999;
  display: none;
  top: 0;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.navbar ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 75vh;
  padding: 0;
  margin: 0;
}

.navbar a {
  color: var(--white);
}

.navbar button {
  color: var(--white);
  background-color: transparent;
  padding: .1rem .3rem .4rem;
  vertical-align: middle;
  border: 1px solid var(--white);
  cursor: pointer;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.menu-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 999;
  fill: var(--primary-color);
}

.navbar .menu-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2rem;
  color: var(--font-color);
}

.navbar:target {
  display: block;
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-color);
}

.navbar:target .menu-close {
  z-index: 1001;
}

.navbar:target+.backdrop {
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: rgba(0, 0, 0, .85);
  cursor: default;
}

@media(min-width: 768px) {
  .navbar {
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    display: flex;
    padding: .3rem;
    padding-right: 1rem;
  }

  .navbar ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0;
    height: 100%;
  }

  .menu-close {
    display: none;
  }

  .menu-toggle {
    display: none;
  }
}

/* footer */

footer {
  background-color: var(--primary-color);
  color: var(--white);
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
  overflow: auto;
}

footer .socials img {
  width: 50px;
  height: 50px;
  margin-right: .5rem;
}

@media(min-width: 768px) {
  footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    text-align: right;
  }
}

/* home page */
/* welcome section */

.welcome {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

.welcome .welcome-image img {
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

.welcome .welcome-text h2 {
  color: var(--primary-color);
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.welcome .welcome-text button {
  margin-top: 1rem;
  padding: .3rem 2rem .5rem;
}

.welcome .welcome-text p {
  line-height: 55px;
}

@media(min-width: 768px) {
  .welcome {
    padding: 0 2rem;
    text-align: right;
  }

  .welcome .welcome-text {
    flex-basis: 47%;
  }

  .welcome .welcome-text h2 {
    flex-flow: row wrap;
  }

  .welcome .welcome-image {
    flex-basis: 53%;
    margin-top: 5rem;
  }
}

/* services section */

.services {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

.services .services-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  order: 2;
}

.services .services-list .services-item {
  border: 5px solid var(--primary-color);
  padding: 1.2rem 0 .8rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.services .services-list .services-item img {
  width: 100px;
  height: 100px;
}

.services .services-list .services-item h6 {
  font-family: var(--secondary-font-family);
  font-size: 24px;
  margin: .5rem;
}

.services .services-text {
  order: 1;
}

.services .services-text h1 {
  color: var(--primary-color);
  margin-bottom: 2rem;
}

.services .services-text p {
  line-height: 55px;
}

.services .services-text button {
  margin: 1rem 0 2rem;
}

@media (min-width: 768px) {
  .services {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  .services .services-list {
    flex-basis: 50%;
    grid-template-columns: repeat(2, 1fr);
    order: 1;
  }

  .services .services-text {
    flex-basis: 43%;
    order: 2;
  }
}