@font-face {
  font-family: 'Helvtica Neue';
  src: url('/src/assets/fonts/helvetica-neue.ttf') format('truetype');
  font-weight: 400;
}

:root {
  /* font stuff */
  --font-size-basis: 1.3rem;
  --type-scale: 1.2;
  --h6: var(--font-size-basis);
  --h5: calc(var(--h6) * var(--type-scale));
  --h4: calc(var(--h5) * var(--type-scale));
  --h3: calc(var(--h4) * var(--type-scale));
  --h2: calc(var(--h3) * var(--type-scale));
  --h1: calc(var(--h2) * var(--type-scale));
  --small: calc(1rem);
  --font-family: 'Helvetica Neue', sans-serif;
  --secondary-font-family: 'Inter', sans-serif;
  --font-weight: 400;
  /* colors */
  --white: #fff;
  --black: #000;
  --primary-color: #871D63;
  --muted-purple: #85456F;
  --text-purple: #85456FCC;
  --grey: #ECE8DD;
  --muted-grey: #DEDBD1;
  --text-color: #000000B2;
  --secondary-text-color: #FFFFFFB2;
}

html {
  font-size: var(--font-size-basis);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  background-color: var(--grey);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: var(--h1);
  margin: 0;
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

small {
  font-size: var(--small);
}

::-moz-selection {
  background-color: var(--primary-color);
  color: var(--white);
}

::selection {
  background-color: var(--primary-color);
  color: var(--white);
}