:root {
  /* font stuff */
  --font-size-basis: 1rem;
  --type-scale: 1.25;
  --h5: var(--font-size-basis);
  --h4: calc(var(--h5) * var(--type-scale));
  --h3: calc(var(--h4) * var(--type-scale));
  --h2: calc(var(--h3) * var(--type-scale));
  --h1: calc(var(--h2) * var(--type-scale));
  --font-small: calc(0.667rem);
  --font-family: 'Open Sans', sans-serif;
  /* colors */

}

html {
  font-size: 100%;
  font-family: var(--font-family);
}

ul {
  list-style: none;
}

/* ::-moz-selection {
  background-color: var(--primary-color);
}

::selection {
  background-color: var(--primary-color);
} */